.landing {
  display        : flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .landing {
    flex-direction: column;
    padding       : 20px;
    max-width     : 100%;
    margin        : auto;
  }

  .landing-intro {
    margin: auto;
    text-align: center;
  }
}